@model UAT_Report.Models.SubService;
@{
    ViewData["Title"] = "SubService";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="insertBox">
    <div class="insertBox-head">
        <h1>Insert Sub Service</h1>
        <hr />
    </div>
    <div class="insertBox-body">
        <form asp-action="SubService" method="post">
            <div class="form-group">
                <label for="OwnerServiceName">Owner Service</label>
                <input type="text" asp-for="OwnerServiceName" name="ownerServiceName" class="form-control">
            </div>
            <div class="form-group">
                <label for="SubServiceName">Sub Service</label>
                <input type="text" asp-for="SubServiceName" name="subServiceName" class="form-control">
            </div>
            <button class="btn btn-outline-secondary">Cancel</button>
            <button type="submit" class="btn btn-success">Save</button>
        </form>
    </div>
</div>