/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: 'Sarabun', sans-serif !important;
    background-color: #F5F9FA;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

.active {
    background: #71B346 !important;
}

.bg-green {
    background: #E2F0D9 !important;
}

.nav-link {
    color: white !important;
}

.navbar {
    padding: 0 !important;
}

ul.my-nav li {
    border: 1px solid #71B346;
    padding: 0 10px;
    font-size: 18px;
}

.inet_banner {
    background-color: #71B346;
    padding: 10px 30px;
}

.inet_logo {
    max-width: 150px;
}

    .inet_logo img {
        width: 100%
    }

.form-control {
    border-radius: 0;
    /*background-color: #F5F9FA;*/
    background-color: white;
}

.insertBox {
    padding: 20px 35px;
    background-color:white;
}

.btn {
    border-radius: 0;
}
